@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400);

* { 
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
}

h1, h2, h3 {
  font-family: "Helvetica Neue";
  font-weight: normal;
  margin: 0;
}

ol, ul {
  padding: 0;
  list-style-type: none;
}
