footer {
  width: 100%;
  text-align: left;
  font-size: 12px;
  line-height: 2.2;
  padding-top: 100px;
  padding-bottom: 20px;

  p {
    font-family: 'Helvetica Neue';
  }

  a {
    color: #000;
  }
}
