$sluggish-width: 48px;
$sluggish-container-width: 220px;

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;

  .row {
    display: flex;
    flex-direction: row;

    .col {
      font-size: 0;

      &.col-left {
        width: 220px;
        margin-right: 10px;
      }

      &.col-right {
        flex: 1;
      }
    }
  }

  .intro {
    padding-top: 20px;
    padding-bottom: 20px;

    .logo {
      height: 40px;
    }

    .intro--desc {
      font-size: 14px;
    }

  }

  .meetups {
    .row {
      &:last-child {
        .col {
          border-bottom: 1px solid #000;
  
          &.col-left {
            border-bottom: 2px solid #000;
          }
        }
      }

      .col {
        border-top: 1px solid #000;
        padding-top: 10px;
        padding-bottom: 20px;

        &.col-left {
          border-top: 2px solid #000;
        }
      }
    }

    &--date {
      font-size: 14px;

      &__month {
        font-size: 32px;
        line-height: 0.94;
        margin-bottom: 5px;
      }
    }

    &--content {
      &__title {
        font-size: 32px;
        line-height: 0.94;
        margin-bottom: 10px;
      }
      &__info {
        font-size: 14px;
        margin-bottom: 10px;
      }
      &__desc {
        font-size: 14px;
      }

    }
  }

  // .header {
  //   .col.col-left {
  //     position: relative;
  //   }

  //   .logo {
  //     position: absolute;
  //     right: 100px;
  //     width: $sluggish-width;
  //     height: $sluggish-width;
  //   }

  //   .logo-text {
  //     width: 320px;
  //   }
  // }

  // .meetups {
  //   .months {
  //     display: flex;
  //     flex-direction: row;

  //     &:not(:first-child) {
  //       padding-top: 8px;
  //       padding-bottom: 8px;
  //       border-top: 1px solid;
  //     }

  //     &-month {
  //       width: 356px;
  //     }

  //     &-meetups {
  //       flex: 1;
  //     }

  //     &-month {
  //       h3.month-title {
  //         font-size: 28px;
  //         font-weight: normal;
  //         text-transform: uppercase;
  //       }
  //     }

  //     &-meetups {
  //       &-meetup {
  //         padding-bottom: 32px;

  //         h3.title {
  //           font-size: 28px;
  //         }

  //         div.inner-content {
  //           overflow: hidden;
  //         }

  //         p.summary {
  //           white-space: pre-wrap;
  //         }

  //         a.btn-attend {
  //           display: block;
  //           width: 100%;
  //           font-size: 18px;
  //           font-weight: bold;
  //           letter-spacing: 1px;
  //           text-align: center;
  //           background-color: black;
  //           color: white;
  //           padding-top: 14px;
  //           padding-bottom: 14px;
  //           text-decoration: none;
  //         }
  //       }
  //     }
  //   }
  // }

  // .partners {
  //   h3.partner {
  //     display: inline;
  //     font-size: 28px;
  //     font-weight: light;
  //   }
  // }
}
